.card-text {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-extra-small);
}

.btn.btn-vote {
  color: var(--primary-color);
  font-weight: var(--font-weight-medium);
  border: 1.5px solid var(--btn-vote-border-color);
  font-size: var(--font-size-small);
}

.btn.btn-voting {
  font-size: var(--font-size-small);
  background-color: var(--primary-color);
  font-size: var(--font-size-small);
  color: white;
  font-weight: var(--font-weight-medium);
  border: 0px solid transparent;
}

.btn.btn-vote:hover {
  color: var(--secondary-color);
  background-color: white;
  font-weight: var(--font-weight-large);
}

.trash-icon {
  font-size: var(--font-size-small);
}

.edit-icon {
  font-size: var(--font-size-small);
  margin-right: 1rem;
}

.option-text {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-extra-small);
}

.menu {
  overflow: hidden;
}

.menu-option {
  margin: 0.1rem;
}

.menu-option:hover {
  background-color: var(--menu-option-hover-bg-color);
}

.menu-option:focus {
  background-color: var(--menu-option-focus-bg-color);
}

.btn.btn-secondary.dot-menu {
  background-color: transparent;
  border: 0;
}

.btn.btn-secondary.dot-menu i {
  color: black;
  font-size: var(--font-size-medium);
}

.form-control.issue-edit {
  background-color: var(--issue-edit-bg-color);
  height: 7rem;
  resize: none;
}
