.form-control.issue-input {
  background-color: var(--issue-input-bg-color);
  height: 10rem;
  resize: none;
}

.btn-save {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  height: 3rem;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

.btn-cancel {
  background-color: white;
  color: var(--primary-color);
  border: 1.5px solid var(--issue-input-bg-color);
  border-radius: 0.5rem;
  height: 3rem;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}
