.offcanvas-header .offcanvas-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.offcanvas.canvas-issue {
  z-index: calc(1 + var(--firework-z-index));
  --bs-offcanvas-width: var(--offcanvas-width);
}
