.offcanvas-header .offcanvas-title {
  font-size: var(--font-size-small);
  font-weight: 700;
}

.offcanvas.canvas-issue {
  padding: 1rem;
  z-index: calc(1 + var(--firework-z-index));
  --bs-offcanvas-width: var(--offcanvas-width);
}

.issues-report {
  font-size: var(--font-size-extra-small);
  color: var(--issue-report-color);
}
