.home_title_container {
    justify-content: center;
    display: flex;
    padding-top: 2rem;
}
.home_title {
    font-size: 2.5rem;
}
.home_subtitle_container{
    justify-content: center;
    display: flex;
}
.home_subtitle {
    font-weight: 200;
    font-size: large;
}