.btn-start {
  background-color: #48545d;
  border: 0 solid var(--secondary-color);
  border-radius: 1rem;
  color: white;
  height: 5rem;
  padding: 1rem 2rem;
  font-weight: var(--font-weight-medium);
}

.btn-start:hover {
  background-color: black;
}
