:root {
  --backdrop-bg-color: rgb(26, 41, 53);
  --background-color: #ebf4ff;
  --btn-background-color-hover: #c4dfff;
  --btn-vote-border-color: #f2f2f2;
  --btn-start-background-color: #48545d;
  --card-background: #e8e9ea;
  --dropdown-background-color: #f2f2f2;
  --dropdown-icon-color: #a0a0a0;
  --error-color: #e74c3c;
  --firework-z-index: 0;
  --font-size-extra-large: 3.5rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-extra-small: 1.2rem;
  --font-size-modal-title: 2.5rem;
  --font-weight-large: 700;
  --font-weight-medium: 600;
  --font-weight-small: 500;
  --form-border-color: #ccc;
  --input-guest-name-focus: rgba(57, 146, 255, 0.75);
  --issue-edit-bg-color: #e5e5e5;
  --issue-input-bg-color: #e5e5e5;
  --label-color: #a8aeb2;
  --menu-option-hover-bg-color: #ebf4ff;
  --menu-option-focus-bg-color: rgb(183, 183, 252);
  --player-card-width: 4.8rem;
  --player-card-height: 7.5rem;
  --offcanvas-width: 30rem;
  --primary-color: #3993ff;
  --room-background-color: #f9f9f9;
  --secondary-color: #74b3ff;
  --success-color: #07bc0c;
  --table-background: #d7e9ff;
  --text-color: #1a2935;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 100%;
}
