:root {
  --primary-color: #3993ff;
  --secondary-color: #74b3ff;
  --background-color: #ebf4ff;
  --text-color: #1a2935;
  --success-color: #07bc0c;
  --error-color: #e74c3c;
  --font-size-extra-large: 3.5rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-extra-small: 1.2rem;
  --font-size-modal-title: 2.5rem;
  --font-weight-large: 700;
  --font-weight-medium: 600;
  --font-weight-small: 500;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
    width: 100%;
}
